* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: rgba(255, 255, 255, .8);
  font-family: monospace, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #00ffff;
  padding: .5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 18rem;
}

.counter {
  font-size: 5rem;
  margin-bottom: 3rem;
  color: #00ffff;
}