* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: rgba(255, 255, 255, .8);
  font-family: monospace, sans-serif;
}

h1 {
  color: rgb(20, 158, 202)
}

.myApp {
  margin: .4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  height: 30vh;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  font-size: 5rem;
  margin-bottom: 3rem;
  color: aqua;
}